{block content}
<table>
    <thead>
        <tr>
            <th>Datum</th>
            <th>Částka (Amount)</th>
            <th>Popis (Comment)</th>
        </tr>
    </thead>
    <tbody>
        {foreach $csv_import as $item}
        <tr>
            <td>{$item->payment_date}</td>
            <td>{$item->amount |number:2:',':' '} Kč</td>
            <td>{$item->comment}</td>
        </tr>
        {/foreach}
    </tbody>
</table>