{block content}


<h1 n:href="import">Ahoj</h1>

<table>
    <thead>
        <tr>
            <thead>Datum</thead>
            <thead>Částka (Amount)</thead>
            <thead>Popis (Comment)</thead>
        </tr>
    </thead>
    <tbody>
        {foreach $csv_import as $item}
        <tr>
            <td>{$item->payment_date}</td>
            <td>{$item->amount}</td>
            <td>{$item->comment}</td>
        </tr>
        {/foreach}
    </tbody>
</table>